root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Rust
[*.rs]
indent_style = space
indent_size = 4

[*.{yaml,yml,nix,json,sh,toml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space

[Cargo.lock]
indent_style = space
indent_size = 1
